table.table-view {
  /* margin-left: 64px; */
  border-spacing: 0;
  width: auto;
  background-color: #fff;
}

table.table-view td, th {
  padding: 5px 20px;
}

table.table-view .leftThInGroup {
  border-left: 2px solid rgb(148, 148, 148);
}

table.table-view th {
  border: none;
  text-align: left;
  /* border-collapse:  */
  /* box-sizing: border-box; */
}

table.table-view thead th {
  background-color: rgb(212, 212, 212);
}

table.table-view thead tr:last-child {
  /* box-sizing: border-box; */
  /* border: 5px solid rgb(138, 24, 24); */
  box-shadow: 0px 2px 3px 1px #888888;
}

table.table-view tbody tr td:first-child {
  background-color: rgb(230, 230, 230);
  font-weight: bolder;
}




